MAIN_URL=https://seu-postiz.dominio.com
FRONTEND_URL=https://seu-postiz.dominio.com
NEXT_PUBLIC_BACKEND_URL=https://seu-postiz.dominio.com/api
JWT_SECRET=troque-por-um-valor-grande-e-unico
DATABASE_URL=postgresql://postiz-user:postiz-password@postiz-postgres:5432/postiz-db-local
REDIS_URL=redis://postiz-redis:6379
BACKEND_INTERNAL_URL=http://localhost:3000
TEMPORAL_ADDRESS=temporal:7233
IS_GENERAL=true
DISABLE_REGISTRATION=false
RUN_CRON=true
STORAGE_PROVIDER=local
UPLOAD_DIRECTORY=/uploads
NEXT_PUBLIC_UPLOAD_DIRECTORY=/uploads

# TikTok provider
TIKTOK_CLIENT_ID=
TIKTOK_CLIENT_SECRET=
